{% extends 'base.html' %} 
{% block title %} Butaca Senior {% endblock %} 
{% block content %}

<div id="message-container">
  <h1 style="color: #ffffff; text-align: center">Butaca Senior</h1>
  <p style="color: #d3c7b7; text-align: center; font-size: 1.2em">
    Tu guía personal hacia el cine clásico.
  </p>
  <p style="color: #d3c7b7; text-align: center; font-size: 1em">
    Explora historias inolvidables y descubre las joyas del séptimo arte en
    pocos segundos.
  </p>

  <div style="text-align: center; margin-bottom: 20px">
    <img
      src="{{ url_for('static', filename='logo.png') }}"
      alt="Logo Butaca Senior"
      style="width: 150px; border-radius: 50%"
    />
  </div>

  <div style="text-align: center">
    <p style="color: #d3c7b7; text-align: center; font-size: 1em">
      Si quieres disfrutar de todas las ventajas de Butaca Senior, regístrate
    </p>
    <a href="{{ url_for('register') }}" class="btn btn-primary">Registrarse</a>

    <p style="color: #d3c7b7; text-align: center; font-size: 1em; margin-top: 20px">
      ¿Ya tienes una cuenta? Inicia sesión
    </p>
    <a href="{{ url_for('login') }}" class="btn btn-primary">Iniciar sesión</a>
  <div style="text-align: center; margin-top: 20px">
    <img
      src="{{ url_for('static', filename='classic-movies.webp') }}"
      alt="Películas Clásicas"
      style="width: 100%; max-width: 500px; border-radius: 10px"
    />
  </div>
</div>
<footer class="footer">
  <p>&copy; 2025 ButacaSenior. Todos los derechos reservados.</p>
</footer>
{% endblock %}
