{% extends 'base.html' %}
{% block title %} Actualizar Contraseña {% endblock %}
{% block content %}
<form method="POST">
    <div class="fixed-top bg-transparent p-2 d-flex justify-content-end">
      <a href="{{ url_for('logout') }}" class="btn btn-secondary">Cerrar sesión</a>
    </div>
    <hr class="my-4">
</form>

<div class="password-wrapper">
<div class="container password-container">
    <form id="password-form" method="POST" onsubmit="return validatePasswordUpdate()">
    <div class="mb-3">
        <label for="current_password" class="form-label">Contraseña actual</label>
        <input 
        type="password" 
        name="current_password" 
        class="form-control" 
        id="current_password" 
        placeholder="Clave actual" 
        required>
    </div>
    <div class="mb-3">
        <label for="new_password" class="form-label">Nueva contraseña</label>
        <input 
        type="password" 
        name="new_password" 
        class="form-control" 
        id="new_password" 
        placeholder="Nueva clave" 
        required>
    </div>
    <div class="mb-3">
        <label for="confirm_new_password" class="form-label">Confirmar nueva contraseña</label>
        <input 
        type="password" 
        name="confirm_new_password" 
        class="form-control" 
        id="confirm_new_password" 
        placeholder="Confirmar nueva clave" 
        required>
    </div>
    <div id="error-message" class="text-danger">
        {% if error %}
        {{ error }}
        {% endif %}
    </div>
    <button type="submit" class="btn btn-primary">Actualizar Contraseña</button>
    </form>
</div>
</div>

<script>
function validatePasswordUpdate() {
    const currentPassword = document.getElementById('current_password').value;
    const newPassword = document.getElementById('new_password').value;
    const confirmNewPassword = document.getElementById('confirm_new_password').value;
    const errorMessage = document.getElementById('error-message');

    const response = await fetch('{{ url_for("password") }}', {
        method: 'POST',
        headers: {
        'Content-Type': 'application/json'
        },
        body: JSON.stringify(
        { currentPassword: current_password,
            newPassword: new_password,
            confirmNewPassword: confirm_new_password
        })
    });

    const data = await response.json();

    if (!data.valid) {
        errorMessage.textContent = data.message;
        return false;
    }

    errorMessage.textContent = '';
    return true;
}
</script>

{% endblock %}